img{
    width: 550px;
    height:450px ;
    padding: 5px 5.5px 0px 5.5px ;
    border-radius: 25px;
}
p{
    color: red;
}
button{
    width: 280px;
    height: 140px;
    color: aliceblue;
    background: red;
    border: none;
    font-family: serif;
  font-style: italic;
    font-size: 65px;
    border-radius: 10px;
}
body{
    text-align: center;
    font-family: serif;
    font-style: italic;
    background-color: orangered;
    font-size: 45px;
}